#calltoaction {
   background-color: var(--bright-red);
   color: #fff;
}
#calltoaction .h-bg {
   position: relative;
}
.btn-white {
   background-color: #fff;
   color: var(--bright-red);
}
.btn-white:hover {
   color: var(--red-hover);
   transition: color 0.3s ease-in-out 0s;
   background-color: #fff;
}
