#difference {
   color: var(--dark-blue);
   overflow-x: hidden;
}
#difference p {
   color: var(--dark-grayish-blue)
}
:is(#difference) ul {
   counter-reset:index;
}
:is(#difference) h3 {
   counter-increment: index;
}
:is(#difference) h3::before {
   background-color: var(--bright-red);
   color: #fff;
   font-weight: bold;
   padding: .6em 1em;
   margin-right: 1rem;
   content: "0"counter(index, decimal);
   border-radius: 25px;
}

@media(max-width: 768px) {
   :is(#difference) li {
      position: relative;
   }
   :is(#difference) li::after {
      background-color: var(--very-pale-red);
      height: 2.5rem;
      width: 105%;
      right: -50px;
      top: -.5rem;
      position: absolute;
      content: '';
      z-index: -1;
   }
}