.open {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(28, 21, 48, 0.651);
   padding: 2rem;
   z-index: 1;
}
.open #hambuger {
   display: flex;
   justify-content: flex-end;
}

@media (min-width: 768px) {
   .open {
      position: unset;
      background-color: transparent;
   }
}