@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

#root {
  font-family: 'Be Vietnam Pro', sans-serif;
  width: 100%;
  overflow: hidden;
}
#header-bg {
  position: absolute;
  z-index: -1;
  top: -280px;
  right: -160px;
}
#difference-bg {
  position: absolute;
  z-index: -1;
  bottom: -520px;
  left: -420px;
}
#call-bg-right {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 20px;
}
#call-bg-left {
  position: absolute;
  z-index: -1;
  top: 10;
  right: 50px;
}