@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: red .7px solid; */
}

:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* set variables */
  --bright-red: #ff3b3b;
  --red-hover: #ff8686;
  --dark-blue: #0d1c33;
  --dark-grayish-blue: #717a85;
  --very-dark-blue: #050505;
  --very-pale-red: #fff1f1;
  --very-light-gray: #fafafa;
}
body {
  /* overflow-x: hidden; */
}

#links a {
  color: var(--dark-blue);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  font-weight: unset;
}

.container {
  max-width: 1280px;
  padding: 2rem;
  margin: auto;
}
