@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: red .7px solid;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* set variables */
  --bright-red: #ff3b3b;
  --dark-blue: #0d1c33;
  --dark-grayish-blue: #717a85;
  --very-dark-blue: #050505;
  --very-pale-red: #fff1f1;
  --very-light-gray: #fafafa;
}

#links a {
  color: var(--dark-blue);
  font-weight: 500;
}
